/* Reset default browser styles for ul and li */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    
  }
  
  /* Make the nav bar a flex container and align the items vertically */
  .navBar {
    display: flex;
    justify-content: space-around;
    background-color: darkgrey;
    height: 60px; /* Set the height of the nav bar */
    position: fixed; /* Fix the nav bar to the top of the screen */
    top: 0; /* Set the top position of the nav bar to 0 */
    left: 0; /* Set the left position of the nav bar to 0 */
    width: 100%; /* Set the width of the nav bar to 100% */
    z-index: 1000; /* Place the nav bar above other elements */
  }
  
  /* Style the nav links */
  .navBar a {
    font-family: monospace;
    font-size:x-large;
    color: purple;
    padding: 0.5rem 1rem;
  }
  
  /* Style the nav links on hover */
  .navBar a:hover {
    background-color: #555;
    color: purple;
  }
  